@import "~react-image-gallery/styles/css/image-gallery.css";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
html {
  font-family: "Pretendard-Regular";
  @apply text-[#2A2A2A];
}

inpu:focus,
input[type="text"]:focus,
input[type="number"]:focus {
  outline: 1px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2a2a2a;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: #2a2a2a;
}

@tailwind components;

@layer components {
  .Font24sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
  }

  .Font24 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  .Font20sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
  }

  .Font20 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  .Font18sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }

  .Font18 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .Font16sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .Font14sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
  }

  .Font14 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .Font12sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
  }

  .Font12 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .Font11 {
    font-family: "Apple SD Gothic Neo";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
  }
}

@tailwind utilities;

@layer utilities {
}

@layer base {
  .loginBallon {
    position: relative;
    width: 10.75rem;
    height: 2rem;
    background: #2a2a2a;
    border-radius: 4px;
    color: white;
  }

  .loginBallon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 88%;
    width: 12px;
    height: 6px;
    border: 6px solid transparent;
    border-top-color: #2a2a2a;
    border-bottom: 0;
    margin-left: -6px;
    margin-bottom: -6px;
  }

  .birthdayBallon {
    position: relative;
    width: 53px;
    height: 1.5rem;
    background: #112f30;
    border-radius: 4px;
    color: white;
  }

  .birthdayBallon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-10%);
    width: 12px;
    height: 6px;
    border: 6px solid transparent;
    border-top-color: #112f30;
    border-bottom: 0;
    margin-left: -4px;
    margin-bottom: -4px;
  }

  .familyShareBallon {
    position: relative;
    width: 169px;
    height: 56px;
    padding: 8px;
    background: #2a2a2a;
    color: white;
    border-radius: 4px;
  }

  .familyShareBallon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translate(-10%);
    width: 12px;
    height: 6px;
    border: 6px solid transparent;
    border-top-color: #112f30;
    border-bottom: 0;
    margin-left: -4px;
    margin-bottom: -4px;
  }

  .allergyButtonOnClick {
    border: 1px solid #787880;
    border-radius: 4px;
    background-color: #787880;
  }

  input[type="range"].rangeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  input[type="range"].rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #112f30;
    cursor: pointer;
  }

  input[type="range"].rangeSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #112f30;
    cursor: pointer;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20.9px;
    width: 21.18px;
    left: 1.57px;
    bottom: 1.55px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #34c759;
    box-shadow: 0 0 1px #34c759;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #34c759;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /* Preview */
  .ritz .waffle a {
    color: inherit;
  }

  .ritz .waffle .s0 {
    border: 1px SOLID #000000;
    background-color: #efefef;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "docs-Gothic A1", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    border-left: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;

    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: black;
    font-family: "Arial";
    font-size: 10pt;

    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;

    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: black;
    font-family: "Arial";
    font-size: 10pt;

    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s2 {
    border: 1px SOLID #000000;
    background-color: #efefef;
    text-align: right;
    font-weight: bold;
    color: #000000;
    font-family: "docs-Gothic A1", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s1 {
    border: 1px SOLID #000000;
    background-color: #efefef;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "docs-Gothic A1", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s5 {
    border-right: none;
    border-right: 1px SOLID #000000;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-Gothic A1", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s8 {
    border-right: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "docs-Gothic A1", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s5 {
    border-left: none;
    border-right: 1px SOLID #000000;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    text-decoration: underline;
    color: #2883f3;
    font-family: "Arial";
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s6 {
    border-left: none;
    border-right: 1px SOLID #000000;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    text-decoration: underline;
    color: #2883f3;
    font-family: "Arial";
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s7 {
    border-left: none;
    border-right: 1px SOLID #000000;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    text-decoration: underline;
    font-family: "Arial";
    font-size: 10pt;
    color: #2883f3;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s9 {
    border-left: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    text-decoration: underline;
    font-family: "Arial";
    font-size: 10pt;
    color: #2883f3;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .s2:hover {
    background-color: #f5f5f5 !important;
  }

  .ritz .waffle .s3:hover {
    background-color: #f5f5f5 !important;
  }

  .ritz .waffle .s4:hover {
    background-color: #f5f5f5 !important;
  }

  .ritz .waffle .s5:hover {
    background-color: #f5f5f5 !important;
  }

  .ritz .waffle .s6:hover {
    background-color: #f5f5f5 !important;
  }

  .ritz .waffle .s7:hover {
    background-color: #f5f5f5 !important;
  }

  .ritz .waffle .s8:hover {
    background-color: #f5f5f5 !important;
  }

  .ritz .waffle .s9:hover {
    background-color: #f5f5f5 !important;
  }

  /* Splash */
  .dots_custom {
    height: 0;
    margin: 0 auto;
    padding: 0;
  }

  .dots_custom li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 6px;
    padding: 0;
  }

  .dots_custom li button {
    border: none;
    background: #b7b7b7;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    padding: 0;
  }

  .dots_custom li.slick-active button {
    background-color: #112f30;
  }

  /* BabyInfo Allergy */
  .selectForm input[type="checkbox"]:not(:checked),
  .selectForm input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
  }

  .selectForm input[type="checkbox"] + label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 1px 0;
    color: #2a2a2a;
    background-color: white;
    border-radius: 4px;
  }

  .selectForm input[type="checkbox"]:checked + label {
    outline: 1px solid #c0d6b1;
    background-color: #e6efe0;
  }

  .reactionsForm input[type="checkbox"]:not(:checked),
  .reactionsForm input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
  }

  .reactionsForm input[type="checkbox"] + label {
    display: inline-block;
    margin: 1px 0;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-radius: 4px;
  }

  .reactionsForm input[type="checkbox"]:checked + label {
    outline: 1px solid #c0d6b1;
    background-color: #e6efe0;
  }

  /* Recipe Profile BabyInfo */
  .recipeProfileImgae {
    position: relative;
    width: 48px;
    height: 48px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(to right top, #98b584 20%, #c0d6b1 80%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  /* footer tab */
  .footerTabProfileImgae {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(to right top, #98b584 20%, #c0d6b1 80%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  /* Recipe Filter */
  .recipeFilterTab li {
    padding: 8px 0;
    pointer: cursor !important;
  }

  .recipeFilterTab li.active {
    padding: 8px 0;
    color: #2a2a2a;
    border-bottom: 2px solid #2a2a2a;
    pointer: cursor;
  }

  .stepFilterForm input[type="radio"]:not(:checked),
  .stepFilterForm input[type="radio"]:checked {
    position: absolute;
    left: -9999%;
  }

  .stepFilterForm input[type="radio"] + label {
    display: inline-block;
    margin: 1px 0;
    color: #2a2a2a;
    background-color: white;
    outline: 1px solid #e8e8e8;
    border-radius: 4px;
  }

  .stepFilterForm input[type="radio"]:checked + label {
    outline: 1px solid #2a2a2a;
  }

  .recipeSortForm input[type="radio"]:not(:checked),
  .recipeSortForm input[type="radio"]:checked {
    position: absolute;
    left: -9999%;
  }

  .recipeSortForm input[type="radio"] + label {
    display: inline-block;
    color: #2a2a2a;
    border-bottom: 1px solid #e8e8e8;
  }

  .recipeSortForm input[type="radio"]:checked + label {
    background: url("../public/images/svgIcons/check.svg");
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: right;
  }

  /* Recipe AddMenu */
  .addMenuColorPicker input[type="radio"]:not(:checked),
  .addMenuColorPicker input[type="radio"]:checked {
    position: absolute;
    left: -9999%;
  }

  .addMenuColorPicker input[type="radio"] + label {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    cursor: pointer;
  }

  .addMenuColorPicker input[type="radio"]:checked + label {
    outline: 2px solid #2a2a2a;
  }

  /* Search */
  .searchResultTab li {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    pointer: cursor;
  }

  .searchResultTab li.active {
    padding: 8px 0;
    color: #2a2a2a;
    border-bottom: 2px solid #2a2a2a;
    pointer: cursor;
  }

  .transform_to_autocomplete_page {
    display: none !important;
  }

  .transform_to_default_page {
    display: block !important;
  }

  /* Ingredient Guide */
  .ingredientGuideTab li {
    padding: 8px 0;
    text-align: center;
    pointer: cursor;
  }

  .ingredientGuideTab li.active {
    padding: 8px 0;
    color: #2a2a2a;
    border-bottom: 2px solid #2a2a2a;
    pointer: cursor;
  }

  .ingredientGuideFilterTab li {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    pointer: cursor;
  }

  .ingredientGuideFilterTab li.active {
    padding: 8px 0;
    color: #2a2a2a;
    border-bottom: 2px solid #2a2a2a;
    pointer: cursor;
  }

  .ingredientGuideForm input[type="checkbox"]:not(:checked),
  .ingredientGuideForm input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
  }

  .ingredientGuideForm input[type="checkbox"] + label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px 0;
    padding: 4px 8px;
    color: #2a2a2a;
    background-color: white;
    outline: 1px solid #b7b7b7;
    border-radius: 25px;
  }

  .ingredientGuideForm input[type="checkbox"]:checked + label {
    outline: 1px solid #c0d6b1;
    background-color: #e6efe0;
  }

  /* MealPlan datepicker */
  .datepicker.default {
    position: fixed;
    border-radius: 16px 16px 0 0;
    z-index: 1000;
  }

  .datepicker.default .datepicker-header {
    margin-top: 32px;
    padding: 0 16px;
    text-align: left;
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2a2a2a;
  }

  .datepicker.default .datepicker-caption {
    padding: 4px 16px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2a2a2a;
  }

  .datepicker.default .datepicker-content {
    margin: 0 16px;
    padding: 0;
    border-bottom: 1px solid #e8e8e8;
  }

  .datepicker.default .datepicker-wheel {
    border-top: 1px solid #c0d6b1;
    border-bottom: 1px solid #c0d6b1;
  }

  .datepicker.default .datepicker-scroll {
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    gap: 8px;
  }

  .datepicker.default .datepicker-scroll > li {
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2a2a2a;
  }
  .datepicker .datepicker-scroll > li {
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2a2a2a;
  }

  .datepicker.default .datepicker-navbar {
    padding: 0 16px 16px !important;
  }

  .datepicker.default .datepicker-navbar-btn {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    padding: 12px 0;
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #112f30;
  }
  .datepicker.default .datepicker-navbar-btn:last-child {
    display: none;
  }

  /* MyPage Profile */
  .myPageProfileImgae {
    position: relative;
    width: 104px;
    height: 104px;
    border: 4px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff),
      linear-gradient(to right top, #fff 20%, #fff 80%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}

/* Autocomplete */
.MuiAutocomplete-fullWidth {
  padding: 0;
}
.MuiOutlinedInput-notchedOutline {
  border: none;
}
.MuiInputBase-root {
  padding: 0 !important;
  background-color: #f5f5f5;
  border-radius: 4px !important;
  color: #2a2a2a !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px !important;
}
.MuiInputBase-root::placeholder {
  color: #b7b7b7 !important;
}
.MuiInputBase-input {
  padding: 4px 36px !important;
}

.MuiAutocomplete-clearIndicator {
  background: red;
}

.MuiAutocomplete-hasClearIcon {
  color: red;
}
.MuiAutocomplete-endAdornment {
  right: 8px !important;
}

.MuiAutocomplete-popper {
  position: absolute;
  top: 96px !important;
  width: 100% !important;
  margin: 0px;
  inset: 0px auto auto 0px;
  transform: translate3d(53px, 96px, 0px);
  z-index: 1300;
  //background: blue;
}
div.MuiPaper-root {
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: unset !important;
}
ul.MuiAutocomplete-listbox {
  position: relative;
  max-height: calc(100vh - 96px) !important;
  height: 100% !important;
  padding: 12px 16px !important;
  margin: 0;
  box-sizing: content-box;
  //background: blue !important;
  overflow: auto;
  list-style: none;
}
li.MuiAutocomplete-option {
  max-height: 36px !important;
  min-height: 36px !important;
  padding: 6px 0 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
