@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
html {
  font-family: "Pretendard-Regular";
  @apply text-[#2A2A2A];
}

@tailwind components;

@layer components {
  .Font24sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
  }

  .Font24 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  .Font20sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
  }

  .Font20 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  .Font18sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }

  .Font18 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .Font16sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
  }

  .Font14sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
  }

  .Font14 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .Font12sb {
    font-style: normal;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
  }

  .Font12 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .Font11 {
    font-family: "Apple SD Gothic Neo";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
  }
}

@tailwind utilities;

@layer utilities {
}

@layer base {
  .loginBallon {
    position: relative;
    width: 10.75rem;
    height: 2rem;
    background: #2a2a2a;
    border-radius: 4px;
    color: white;
  }

  .loginBallon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 88%;
    width: 12px;
    height: 6px;
    border: 6px solid transparent;
    border-top-color: #2a2a2a;
    border-bottom: 0;
    margin-left: -6px;
    margin-bottom: -6px;
  }

  .birthdayBallon {
    position: relative;
    width: 53px;
    height: 1.5rem;
    background: #112f30;
    border-radius: 4px;
    color: white;
  }

  .birthdayBallon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-10%);
    width: 12px;
    height: 6px;
    border: 6px solid transparent;
    border-top-color: #112f30;
    border-bottom: 0;
    margin-left: -4px;
    margin-bottom: -4px;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #112f30;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #112f30;
    cursor: pointer;
  }
}
